/* common */

.center
{
    text-align: center;
}

#wrapper
{
    margin: auto;
    width: 950px;
    text-align: left;
    font-family: 'Gill Sans','Gill Sans MT','Goudy Bookletter 1911','Linux Libertine O','Liberation Serif',Candara,serif;
    font-size: large;
}

#title
{
    margin-top: 40px;
    font-family: "Lucida Grande",Tahoma,"Trebuchet MS",Verdana,Lucida,Geneva,Helvetica,sans-serif;
}

#title a:link, #title a:visited
{
    color: #000000;
    font-size: 40px;
    text-decoration: none;
}

#nav
{
    background-color: #E5ECF9;
    width: 500px;
    height: 50px;
    margin: 50px auto 0;
    display: block;
    font-family: "Book Antiqua",Georgia,Palatino,Times,"Times New Roman",serif;
}

#nav ul
{
    list-style-type: none;
    position: absolute;
    margin: 0;
    padding-left: 70px;
}

#nav ul li
{
    float: left;
}

#nav ul li a:link, #nav ul li a:visited
{
    color: #1639BB;
    font-size: 20px;
    text-decoration: none;
    display: block;
    padding: 13px 20px 0;
    height: 37px;
}

#nav ul li a:hover
{
    background-color: #1639BB;
    color: #FFFFFF;
    text-decoration: none;
}

#inner
{
    margin: 50px 0;
}

#inner2
{
    margin: 50px 200px 50px 250px;
}

#inner2 h3
{
    padding-top: 8px;
}

#inner2 ul li
{
    margin: 8px 0;
}

#inner3
{
    margin: 50px 200px 50px 225px;
}

#inner3 p
{
    line-height: 145%;
}

/* about */

.motto
{
    margin-top: -20px;
    text-align: center;
    font-size: 20px;
    font-family: 'Cedarville Cursive', arial, serif;
}

.motto:before
{
    content: '\201C';
    font-size: 150%;
    font-family: 'Bigshot One', arial, serif;
}

.motto:after
{
    content: '\201D';
    font-size: 150%;
    font-family: 'Bigshot One', arial, serif;
}