[submodule "home/xiaogaozi/.janus/vim-powerline"]
	path = home/xiaogaozi/.janus/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "home/xiaogaozi/src/gist/git-submodule-rm"]
	path = home/xiaogaozi/src/gist/git-submodule-rm
	url = git://gist.github.com/2491147.git
[submodule "home/xiaogaozi/.emacs.d"]
	path = home/xiaogaozi/.emacs.d
	url = git://github.com/overtone/emacs-live.git
[submodule "home/xiaogaozi/.janus/vim-arcanist"]
	path = home/xiaogaozi/.janus/vim-arcanist
	url = git://github.com/phleet/vim-arcanist.git
[submodule "home/xiaogaozi/.janus/ag"]
	path = home/xiaogaozi/.janus/ag
	url = git@github.com:rking/ag.vim.git
[submodule "home/xiaogaozi/.janus/dash.vim"]
	path = home/xiaogaozi/.janus/dash.vim
	url = git@github.com:rizzatti/dash.vim.git
[submodule "home/xiaogaozi/.janus/funcoo.vim"]
	path = home/xiaogaozi/.janus/funcoo.vim
	url = git@github.com:rizzatti/funcoo.vim.git
[submodule "home/xiaogaozi/.janus/github-vim"]
	path = home/xiaogaozi/.janus/github-vim
	url = git@github.com:solars/github-vim.git
[submodule "home/xiaogaozi/.janus/vim-swift"]
	path = home/xiaogaozi/.janus/vim-swift
	url = https://github.com/toyamarinyon/vim-swift.git
[submodule "home/xiaogaozi/.janus/pig.vim"]
	path = home/xiaogaozi/.janus/pig.vim
	url = https://github.com/motus/pig.vim.git
[submodule "home/xiaogaozi/.janus/vim-go"]
	path = home/xiaogaozi/.janus/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "home/xiaogaozi/.janus/vim-jsx"]
	path = home/xiaogaozi/.janus/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
