[submodule "home/xiaogaozi/.janus/vim-powerline"]
	path = home/xiaogaozi/.janus/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "home/xiaogaozi/src/gist/git-submodule-rm"]
	path = home/xiaogaozi/src/gist/git-submodule-rm
	url = git://gist.github.com/2491147.git
[submodule "home/xiaogaozi/.emacs.d"]
	path = home/xiaogaozi/.emacs.d
	url = git://github.com/overtone/emacs-live.git
[submodule "home/xiaogaozi/.janus/vim-arcanist"]
	path = home/xiaogaozi/.janus/vim-arcanist
	url = git://github.com/phleet/vim-arcanist.git
[submodule "home/xiaogaozi/.bash_it"]
	path = home/xiaogaozi/.bash_it
	url = git@github.com:revans/bash-it.git
[submodule "home/xiaogaozi/.janus/vim-multiple-cursors"]
	path = home/xiaogaozi/.janus/vim-multiple-cursors
	url = git@github.com:terryma/vim-multiple-cursors.git
