[user]
	name = xiaogaozi
	email = gaochangjian@gmail.com
[branch]
	autosetuprebase = always
[merge]
	conflictstyle = diff3
	tool = vimdiff
[rerere]
	enabled = true
[alias]
	ci = commit
	co = checkout
	lc = log ORIG_HEAD.. --stat --no-merges
	lg = log --graph --oneline --decorate --abbrev-commit
	lgg = log --graph --pretty=format:\"%C(yellow)%h%Creset%C(bold red)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset\"
	submodule-rm = !sh ~/src/gist/git-submodule-rm/git-submodule-rm.sh
	st = status -sb
[push]
	default = simple

[hub]
protocol = https

[core]
excludesfile = /opt/boxen/config/git/gitignore
[color]
	ui = auto


[credential]
helper = /opt/boxen/bin/boxen-git-credential
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
